# Parsing & PDF
docling>=2.7.0
docling-core>=2.6.0
pypdf>=4.0.0

# Intelligence & LLM
ollama>=0.3.0
google-genai==1.38.0
tenacity>=8.2.0

# Base Vectorielle & Recherche
chromadb==0.5.0
sentence-transformers==2.7.0
rank-bm25==0.2.2
numpy<2.0.0
flashrank==0.2.10

# Interface & Log
python-dotenv==1.0.1
loguru==0.7.2
rich==13.7.1
pydantic>=2.7.0
